@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 class="text-center">Agregar productos a mi pedido</h3>
<br />
<br />
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Agregar a pedido</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <form action="/Personal/AgregarProducto_Moso" method="post">
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Precio soles</td>
                    <td>
                        <input type="number" name="cantidad" />
                    </td>
                    <td>

                        <input type="hidden" name="idreserva" value="@ViewBag.Idreserva" />
                        <input type="hidden" name="idproducto" value="@item.Id_producto" />
                        <button class="btn btn-success">Agregar producto</button>
                    </td>
                </tr>
            </form>
            }

        </tbody>
    </table>
</div>