



@{ Layout = "_AdminLayout"; }

<section class="content">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Rol</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    @foreach (var rol in ViewBag.rol)
                    {
                        if (rol.Id == item.Id_Rol)
                        {
                            <td>@rol.Nombre</td>

                        }

                    }
                </tr>


            }
        </tbody>
    </table>

</section>